*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  max-width: 68rem;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 16rem;
  height: 20rem;
  margin: 0.3rem;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform .5s;
}

.is-flip {
  transform: rotateY(180deg);
}

.card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-face {
  background-color: #009688;
}

.card-back {
  background-color: rgb(218, 68, 68);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  transform: rotateY(180deg);
}